.container
    width: 100%
    padding-right: 15px
    padding-left: 15px
    margin-right: auto
    margin-left: auto
    max-width: 1120px

#anim_
    height: 40vw
    min-height: 400px
    display: flex
    align-items: center
    justify-content: center
    overflow: hidden
    *
        font-family: 'Roboto', sans-serif
        box-sizing: content-box
    .close_one,
    .close_two
        display: none
    h3
        color: #e43c2f
        font-weight: 400
        font-size: 14px
        line-height: 120%

    .textowo
        p
            font-size: 16px
            min-width: 200px

    .order1
        order: 1
    .order2
        order: 2
    .all_elem
        margin: 0 auto
        position: relative
        height: 100%
        width: 50%
        max-width: 1400px
        display: flex
        justify-content: center
        align-items: center

    .head
        display: flex
        justify-content: center
        align-items: center
        position: relative

    .bullets
        z-index: 999
    .bullets div
        cursor: pointer

    #one
        position: absolute
        top: 85%
        left: 6%
        z-index: 200

    #two
        bottom: 9%
        left: 10%
        position: absolute

    #three
        position: absolute
        bottom: 5%
        right: 28%

    #four
        position: absolute
        bottom: 5%
        right: 8%

    #five
        position: absolute
        right: 22%
        bottom: 44%

    #six
        position: absolute
        top: 30px
        right: 22%

    #seven
        position: absolute
        top: 6%
        right: 40%

    #eight
        left: 22%
        position: absolute
        top: 6%

    #nine
        position: absolute
        left: 20%
        top: 15%

    #ten
        position: absolute
        left: 14%
        top: 48%
        z-index: 99

    #eleven
        position: absolute
        left: 11%
        bottom: 26%

    .lineone
        height: 0px
        width: 1px
        margin-top: 120px
        margin-left: 10px
        border-bottom: 1px solid #000
        animation: increase 1s
        animation-delay: 2s
        -webkit-animation: increase 1s
        -webkit-animation-delay: 2s
        -o-animation: increase 1s
        -o-animation-delay: 2s
        position: absolute
        animation-fill-mode: forwards

    .linetwo
        height: 1px
        width: 0px
        margin-top: 20px
        margin-left: 10px
        border-left: 1px solid #000
        animation: increasetwo 1s
        animation-delay: 0s
        -webkit-animation: increasetwo 1s
        -webkit-animation-delay: 0s
        -o-animation: increasetwo 1s
        -o-animation-delay: 0s
        position: absolute
        animation-fill-mode: forwards

    @keyframes increase
        100%
            width: 30px

    @keyframes increasetwo
        100%
            height: 100px

    .linethree
        height: 1px
        width: 0px
        margin-top: 20px
        margin-left: 10px
        border-left: 1px solid #000
        animation: increasefour 1s
        animation-delay: 0s
        -webkit-animation: increasefour 1s
        -webkit-animation-delay: 0s
        -o-animation: increasefour 1s
        -o-animation-delay: 0s
        position: absolute
        animation-fill-mode: forwards

    .linefour
        height: 0px
        width: 1px
        margin-top: 145px
        margin-left: 10px
        border-bottom: 1px solid #000
        animation: increasethree 1s
        animation-delay: 1s
        -webkit-animation: increasethree 1s
        -webkit-animation-delay: 1s
        -o-animation: increasethree 1s
        -o-animation-delay: 1s
        position: absolute
        animation-fill-mode: forwards

    @keyframes increasethree
        100%
            width: 250px

    @keyframes increasefour
        100%
            height: 125px

    .linefive
        height: 1px
        width: 0px
        margin-top: 20px
        margin-left: 10px
        border-left: 1px solid #000
        animation: increasefive 1s
        animation-delay: 0s
        -webkit-animation: increasefive 1s
        -webkit-animation-delay: 0s
        -o-animation: increasefive 1s
        -o-animation-delay: 0s
        position: absolute
        animation-fill-mode: forwards

    .linesix
        height: 0px
        width: 1px
        margin-top: 150px
        margin-left: 10px
        border-bottom: 1px solid #000
        animation: increasesix 1s
        animation-delay: 1s
        -webkit-animation: increasesix 1s
        -webkit-animation-delay: 1s
        -o-animation: increasesix 1s
        -o-animation-delay: 1s
        position: absolute
        animation-fill-mode: forwards

    @keyframes increasesix
        100%
            width: 140px

    @keyframes increasefive
        100%
            height: 130px

    .lineeight
        height: 1px
        width: 0px
        margin-top: -120px
        margin-left: 10px
        border-left: 1px solid #000
        animation: increasenine 1s
        animation-delay: 1s
        -webkit-animation: increasenine 1s
        -webkit-animation-delay: 1s
        -o-animation: increasenine 1s
        -o-animation-delay: 1s
        position: absolute
        animation-fill-mode: forwards

    .linenine
        margin-top: 10px
        margin-left: 20px
        position: absolute
        width: 230px
        height: 100px
        background-image: linear-gradient(#000,#000), linear-gradient(#000,#000)
        background-size: 0% 1px, 1px 0%, 0% 1px
        background-position: top left, top center, 150px 100%
        background-repeat: no-repeat
        animation: increase 3s
        animation-fill-mode: forwards

    @keyframes increase
        100%
            background-size: 100% 1px, 1px 0%, 0% 5px

    .lineten
        margin-top: -10px
        margin-left: 20px
        position: absolute
        width: 320px
        height: 20px
        background-image: linear-gradient(#000,#000), linear-gradient(#000,#000)
        background-size: 0% 1px, 1px 0%, 0% 1px
        background-position: bottom left, bottom right, 150px 100%
        background-repeat: no-repeat
        animation: increaseten 2s
        animation-fill-mode: forwards

    @keyframes increaseten
        50%
            background-size: 100% 1px, 1px 0%, 10px 1px
        100%
            background-size: 100% 1px, 1px 100%, 10px 1px

    .linenineten
        margin-top: -13px
        margin-left: 20px
        position: absolute
        width: 75px
        height: 20px
        background-image: linear-gradient(#000,#000), linear-gradient(#000,#000)
        background-size: 0% 1px, 1px 0%, 0% 1px
        background-position: bottom left, bottom right, 150px 100%
        background-repeat: no-repeat
        animation: increasenineten 2s
        animation-fill-mode: forwards

    @keyframes increasenineten
        50%
            background-size: 100% 1px, 1px 0%, 10px 1px
        100%
            background-size: 100% 1px, 1px 100%, 10px 1px

    .lineeightten
        margin-top: 10px
        margin-left: -25px
        position: absolute
        width: 25px
        height: 100px
        background-image: linear-gradient(#000,#000), linear-gradient(#000,#000)
        background-size: 0% 1px, 1px 0%, 0% 1px
        background-position: top right, top center, 150px 0%
        background-repeat: no-repeat
        animation: increaseeighten .5s
        animation-fill-mode: forwards

    @keyframes increaseeighten
        20%
            opacity: 1

        100%
            background-size: 100% 1px, 1px 0%, 10px 1px

    .lineseventen
        margin-top: 10px
        margin-left: -335px
        position: absolute
        width: 335px
        height: 100px
        background-image: linear-gradient(#000,#000), linear-gradient(#000,#000)
        background-size: 0% 1px, 1px 0%, 0% 1px
        background-position: top right, top center, 150px 0%
        background-repeat: no-repeat
        animation: increaseseventen 2s
        animation-fill-mode: forwards

    @keyframes increaseseventen
        100%
            background-size: 100% 1px, 1px 0%, 10px 1px

    .linesixten
        margin-top: 10px
        margin-left: -345px
        position: absolute
        width: 345px
        height: 100px
        background-image: linear-gradient(#000,#000), linear-gradient(#000,#000)
        background-size: 0% 1px, 1px 0%, 0% 1px
        background-position: top right, top left, 150px 0%
        background-repeat: no-repeat
        animation: increasesixten 2s
        animation-fill-mode: forwards

    @keyframes increasesixten
        50%
            background-size: 100% 1px, 1px 0%, 10px 1px
        100%
            background-size: 100% 1px, 1px 20%, 10px 1px

    .linefiveten
        margin-top: 10px
        margin-left: -295px
        position: absolute
        width: 295px
        height: 160px
        background-image: linear-gradient(#000,#000), linear-gradient(#000,#000)
        background-size: 0% 1px, 1px 0%, 0% 1px
        background-position: top right, top left, 150px 0%
        background-repeat: no-repeat
        animation: increasefiveten 2s
        animation-fill-mode: forwards

    @keyframes increasefiveten
        50%
            background-size: 100% 1px, 1px 0%, 10px 1px
        100%
            background-size: 100% 1px, 1px 70%, 10px 1px

    @keyframes increaseeight
        100%
            width: 140px

    @keyframes increasenine
        100%
            height: -145px

    .lineseven
        height: 0px
        width: 1px
        margin-top: 10px
        margin-left: 20px
        border-bottom: 1px solid #000
        animation: increaseseven 2s
        animation-delay: 0s
        -webkit-animation: increaseseven 2s
        -webkit-animation-delay: 0s
        -o-animation: increaseseven 2s
        -o-animation-delay: 0s
        position: absolute
        animation-fill-mode: forwards

    @keyframes increaseseven
        100%
            width: 130px

    .point
        position: relative
        height: 20px
        width: 20px
        background: #EE3325
        z-index: 999
        border-radius: 100%
        box-shadow: 0px 0px 10px #EE3325

    .point:before,
    .point:after
        border: 1px solid #EE3325
        box-shadow: 0px 0px 2px #EE3325
        content: ""
        width: 100%
        display: block
        position: absolute
        height: auto
        top: 0
        right: 0
        bottom: 0
        left: 0
        border-radius: 100%
        transform-origin: center center
        opacity: 0
        box-sizing: border-box

    .point:before
        //animation: 1.5s .1s pulse infinite linear
        //animation-play-state: paused

    .point::after
        //animation: 1.5s pulse2 infinite linear
        //animation-play-state: paused

    .point:hover::before
        animation: 1.5s .1s pulse infinite linear
        //animation-play-state: running

    .point:hover::after
        animation: 1.5s pulse2 infinite linear
        //animation-play-state: running

    @keyframes pulse2
        0%
            animation-timing-function: ease-in
            transform: scale(0)
            opacity: 0

        40%

            transform: scale(1.5)
            opacity: .2

        100%
            animation-timing-function: ease-in-out
            transform: scale(1.8)
            opacity: 0

    @keyframes pulse
        0%
            animation-timing-function: ease-in
            transform: scale(1.5)

        40%

            transform: scale(2)
            opacity: .2

        100%
            animation-timing-function: ease-in-out
            transform: scale(2.3)
            opacity: 0

    @keyframes opacity
        100%
            opacity: 1

    .firs_info
        display: flex
        align-items: center
        justify-content: center
        position: absolute
        bottom: -190px
        left: -180px
        opacity: 0
        z-index: 99

    .second_info
        display: flex
        align-items: center
        justify-content: center
        position: absolute
        bottom: -190px
        left: 100px
        opacity: 0

    .three_info
        display: flex
        align-items: center
        justify-content: center
        position: absolute
        bottom: -265px
        right: -155px
        opacity: 0
        z-index: 100

    .four_info
        display: flex
        align-items: center
        justify-content: center
        position: absolute
        //bottom: -54px
        //right: -400px
        bottom: -120px
        right: -250px
        opacity: 0

    .five_info
        display: flex
        //align-items: center
        //justify-content: center
        flex-wrap: wrap
        justify-content: end
        position: absolute
        //bottom: 200px
        bottom: 140px
        //right: -330px
        right: -250px
        opacity: 0
    .five_info .textowo
        width: 100%
    .six_info
        display: flex
        align-items: center
        justify-content: center
        position: absolute
        top: -170px
        right: -245px
        opacity: 0

    .seven_info
        display: flex
        align-items: center
        justify-content: center
        position: absolute
        top: -170px
        left: 230px
        opacity: 0

    .eight_info
        display: flex
        align-items: center
        justify-content: center
        position: absolute
        top: -130px
        left: -230px
        opacity: 0

    .nine_info
        display: flex
        align-items: center
        justify-content: center
        position: absolute
        top: 80px
        left: -320px
        opacity: 0

    .ten_info
        display: flex
        align-items: center
        justify-content: center
        position: absolute
        top: 280px
        left: -330px
        opacity: 0
        z-index: 100

    .eleven_info
        display: flex
        align-items: center
        justify-content: center
        position: absolute
        top: 480px
        left: -300px
        opacity: 0
        z-index: 100

    .textowo
        text-align: right
        padding: 20px
        font-size: 14px

    .close_one
        font-size: 20px
        position: absolute
        right: 0
        top: 0
        cursor: pointer

    .close_two
        font-size: 20px
        position: absolute
        right: 0
        top: -10px
        padding: 10px
        cursor: pointer

    .opacityone
        animation: opacity 1s
        animation-delay: 1s
        -webkit-animation: opacity 1s
        -webkit-animation-delay: 1s
        -o-animation: opacity 1s
        -o-animation-delay: 1s
        animation-fill-mode: forwards

    .display_none
        opacity: 0
        z-index: -1
    @media screen and (max-width: 1600px)
        height: 60vw
    @media screen and ( max-width:  1440px )
        height: calc(50vw * 1.2)
        .all_elem
            transform: scale(.8)
        //.information
            position: absolute

    @media screen and ( max-width: 1199px )
        height: 100%
        .textowo
            text-align: center !important
        .textowo h3
            margin-bottom: 20px !important
        .md-order1
            order: 1
        .md-order2
            order: 2
        #anim_
            min-height: 100%
        .bullets
            z-index: 0
        .five_f1
            visibility: visible !important
        .five_f2
            display: none
        .five_info .close_two
            top: 0
        .five_info .textowo
            width: initial
        .five_info img
            margin: auto
        .lineeight,
        .linenine,
        .lineten,
        .linenineten,
        .linenineten,
        .lineseventen,
        .linesixten,
        .linefiveten,
        .linetwo,
        .lineone,
        .linethree,
        .linefour,
        .linefive,
        .linesix,
        .lineseven,
        .lineeightten
            display: none

        .firs_info,
        .second_info,
        .three_info,
        .four_info,
        .five_info,
        .six_info,
        .seven_info,
        .eight_info,
        .nine_info,
        .ten_info,
        .eleven_info
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%,-50%)
            background: #fff
            display: flex
            flex-direction: column
            min-width: 325px
            text-align: center
            min-height: 380px
            img
                width: 100px

        .close_one,
        .close_two
            display: block
            padding: 20px
            top: -10px

        .opacityone img
            margin-top: 20px
        #two
            bottom: 14%
            left: 13%

        .opacityone
            box-shadow: 4px 6px 20px rgba(0, 0, 0, .3)
            animation-delay: 0s
            z-index: 800 !important
        .information
            position: absolute
