#anim_ {
    height: 50vw;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden
}

#anim_ * {
    font-family: Roboto, sans-serif;
    box-sizing: content-box
}

#anim_ .close_one,
#anim_ .close_two {
    display: none
}

#anim_ h3 {
    color: #e43c2f;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%
}

#anim_ .order1 {
    order: 1
}

#anim_ .order2 {
    order: 2
}

#anim_ p {
    margin: 0 0 15px;
    font-size: 13px;
    line-height: 21px;
}

#anim_ .all_elem {
    margin: 0 auto;
    height: 100%;
    width: 45%;
    max-width: 1400px
}

#anim_ .all_elem,
#anim_ .head {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center
}

#anim_ .bullets {
    z-index: 999
}

#anim_ .bullets div {
    cursor: pointer
}

#anim_ #one {
    position: absolute;
    top: 85%;
    left: 6%;
    z-index: 200
}

#anim_ #two {
    bottom: 9%;
    left: 11%;
    position: absolute;
}

#anim_ #three {
    right: 28%
}

#anim_ #four,
#anim_ #three {
    position: absolute;
    bottom: 5%
}

#anim_ #four {
    right: 8%
}

#anim_ #five {
    bottom: 44%
}

#anim_ #five,
#anim_ #six {
    position: absolute;
    right: 22%
}

#anim_ #six {
    top: 30px
}

#anim_ #seven {
    position: absolute;
    top: 6%;
    right: 40%
}

#anim_ #eight {
    left: 22%;
    position: absolute;
    top: 6%
}

#anim_ #nine {
    position: absolute;
    left: 20%;
    top: 15%
}

#anim_ #ten {
    position: absolute;
    left: 14%;
    top: 48%;
    z-index: 99
}

#anim_ #eleven {
    position: absolute;
    left: 11%;
    bottom: 26%
}

#anim_ .lineone {
    height: 0;
    width: 1px;
    margin-top: 120px;
    border-bottom: 1px solid #000;
    animation: increase 1s;
    animation-delay: 2s;
    -webkit-animation: increase 1s;
    -webkit-animation-delay: 2s;
    -o-animation: increase 1s;
    -o-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

#anim_ .lineone,
#anim_ .linetwo {
    margin-left: 10px;
    position: absolute
}

#anim_ .linetwo {
    height: 1px;
    width: 0;
    margin-top: 20px;
    border-left: 1px solid #000;
    animation: increasetwo 1s;
    animation-delay: 0s;
    -webkit-animation: increasetwo 1s;
    -webkit-animation-delay: 0s;
    -o-animation: increasetwo 1s;
    -o-animation-delay: 0s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

@-webkit-keyframes increase {
    to {
        width: 30px
    }
}

@-webkit-keyframes increasetwo {
    to {
        height: 100px
    }
}

@keyframes increasetwo {
    to {
        height: 100px
    }
}

#anim_ .linethree {
    height: 1px;
    width: 0;
    margin-top: 20px;
    margin-left: 10px;
    border-left: 1px solid #000;
    animation: increasefour 1s;
    animation-delay: 0s;
    -webkit-animation: increasefour 1s;
    -webkit-animation-delay: 0s;
    -o-animation: increasefour 1s;
    -o-animation-delay: 0s;
    position: absolute;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

#anim_ .linefour {
    height: 0;
    width: 1px;
    margin-top: 145px;
    margin-left: 10px;
    border-bottom: 1px solid #000;
    animation: increasethree 1s;
    animation-delay: 1s;
    -webkit-animation: increasethree 1s;
    -webkit-animation-delay: 1s;
    -o-animation: increasethree 1s;
    -o-animation-delay: 1s;
    position: absolute;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

@-webkit-keyframes increasethree {
    to {
        width: 250px
    }
}

@keyframes increasethree {
    to {
        width: 250px
    }
}

@-webkit-keyframes increasefour {
    to {
        height: 125px
    }
}

@keyframes increasefour {
    to {
        height: 125px
    }
}

#anim_ .linefive {
    height: 1px;
    width: 0;
    margin-top: 20px;
    border-left: 1px solid #000;
    animation: increasefive 1s;
    animation-delay: 0s;
    -webkit-animation: increasefive 1s;
    -webkit-animation-delay: 0s;
    -o-animation: increasefive 1s;
    -o-animation-delay: 0s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

#anim_ .linefive,
#anim_ .linesix {
    margin-left: 10px;
    position: absolute
}

#anim_ .information img {
    width: 130px;
}

#anim_ .linesix {
    height: 0;
    width: 1px;
    margin-top: 150px;
    border-bottom: 1px solid #000;
    animation: increasesix 1s;
    animation-delay: 1s;
    -webkit-animation: increasesix 1s;
    -webkit-animation-delay: 1s;
    -o-animation: increasesix 1s;
    -o-animation-delay: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

@-webkit-keyframes increasesix {
    to {
        width: 140px
    }
}

@keyframes increasesix {
    to {
        width: 140px
    }
}

@-webkit-keyframes increasefive {
    to {
        height: 130px
    }
}

@keyframes increasefive {
    to {
        height: 130px
    }
}

#anim_ .lineeight {
    height: 1px;
    width: 0;
    margin-top: -120px;
    margin-left: 10px;
    border-left: 1px solid #000;
    animation: increasenine 1s;
    animation-delay: 1s;
    -webkit-animation: increasenine 1s;
    -webkit-animation-delay: 1s;
    -o-animation: increasenine 1s;
    -o-animation-delay: 1s;
    position: absolute;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

#anim_ .linenine {
    margin-top: 10px;
    margin-left: 20px;
    position: absolute;
    width: 230px;
    height: 100px;
    background-image: linear-gradient(#000, #000), linear-gradient(#000, #000);
    background-size: 0 1px, 1px 0, 0 1px;
    background-position: 0 0, top, 150px 100%;
    background-repeat: no-repeat;
    -webkit-animation: increase 3s;
    animation: increase 3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

@keyframes increase {
    to {
        background-size: 100% 1px, 1px 0, 0 5px
    }
}

#anim_ .lineten {
    margin-top: -10px;
    margin-left: 20px;
    position: absolute;
    width: 320px;
    height: 20px;
    background-image: linear-gradient(#000, #000), linear-gradient(#000, #000);
    background-size: 0 1px, 1px 0, 0 1px;
    background-position: 0 100%, 100% 100%, 150px 100%;
    background-repeat: no-repeat;
    -webkit-animation: increaseten 2s;
    animation: increaseten 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

@-webkit-keyframes increasenineten {
    50% {
        background-size: 100% 1px, 1px 0, 10px 1px
    }

    to {
        background-size: 100% 1px, 1px 100%, 10px 1px
    }
}

@keyframes increasenineten {
    50% {
        background-size: 100% 1px, 1px 0, 10px 1px
    }

    to {
        background-size: 100% 1px, 1px 100%, 10px 1px
    }
}


#anim_ .linenineten {
    margin-top: -20px;
    margin-left: 10px;
    position: absolute;
    width: 1px;
    height: 20px;
    background-image: linear-gradient(#000, #000), linear-gradient(#000, #000);
    background-size: 0 1px, 1px 0, 0 1px;
    background-position: 0 100%, 100% 100%, 150px 100%;
    background-repeat: no-repeat;
    -webkit-animation: increasenineten 2s;
    animation: increasenineten 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

@-webkit-keyframes increasenineten {
    50% {
        background-size: 100% 1px, 1px 0, 10px 1px
    }

    to {
        background-size: 100% 1px, 1px 100%, 10px 1px
    }
}

@keyframes increasenineten {
    50% {
        background-size: 100% 1px, 1px 0, 10px 1px
    }

    to {
        background-size: 100% 1px, 1px 100%, 10px 1px
    }
}

#anim_ .lineeightten {
    margin-top: 10px;
    margin-left: -25px;
    position: absolute;
    width: 25px;
    height: 100px;
    background-image: linear-gradient(#000, #000), linear-gradient(#000, #000);
    background-size: 0 1px, 1px 0, 0 1px;
    background-position: 100% 0, top, 150px 0;
    background-repeat: no-repeat;
    -webkit-animation: increaseeighten .5s;
    animation: increaseeighten .5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

@-webkit-keyframes increaseeighten {
    20% {
        opacity: 1
    }

    to {
        background-size: 100% 1px, 1px 0, 10px 1px
    }
}

@keyframes increaseeighten {
    20% {
        opacity: 1
    }

    to {
        background-size: 100% 1px, 1px 0, 10px 1px
    }
}

#anim_ .lineseventen {
    margin-top: 10px;
    margin-left: -300px;
    position: absolute;
    width: 300px;
    height: 100px;
    background-image: linear-gradient(#000, #000), linear-gradient(#000, #000);
    background-size: 0 1px, 1px 0, 0 1px;
    background-position: 100% 0, top, 150px 0;
    background-repeat: no-repeat;
    -webkit-animation: increaseseventen 2s;
    animation: increaseseventen 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes increaseseventen {
    to {
        background-size: 100% 1px, 1px 0, 10px 1px
    }
}

@keyframes increaseseventen {
    to {
        background-size: 100% 1px, 1px 0, 10px 1px
    }
}

#anim_ .linesixten {
    margin-top: 10px;
    margin-left: -345px;
    position: absolute;
    width: 345px;
    height: 100px;
    background-image: linear-gradient(#000, #000), linear-gradient(#000, #000);
    background-size: 0 1px, 1px 0, 0 1px;
    background-position: 100% 0, 0 0, 150px 0;
    background-repeat: no-repeat;
    -webkit-animation: increasesixten 2s;
    animation: increasesixten 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

@-webkit-keyframes increasesixten {
    50% {
        background-size: 100% 1px, 1px 0, 10px 1px
    }

    to {
        background-size: 100% 1px, 1px 20%, 10px 1px
    }
}

@keyframes increasesixten {
    50% {
        background-size: 100% 1px, 1px 0, 10px 1px
    }

    to {
        background-size: 100% 1px, 1px 20%, 10px 1px
    }
}

#anim_ .linefiveten {
    margin-top: 10px;
    margin-left: -295px;
    position: absolute;
    width: 295px;
    height: 40px;
    background-image: linear-gradient(#000, #000), linear-gradient(#000, #000);
    background-size: 0 1px, 1px 0, 0 1px;
    background-position: 100% 0, 0 0, 150px 0;
    background-repeat: no-repeat;
    -webkit-animation: increasefiveten 2s;
    animation: increasefiveten 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    z-index: -1;
}

@-webkit-keyframes increasefiveten {
    50% {
        background-size: 100% 1px, 1px 0, 10px 1px
    }

    to {
        background-size: 100% 1px, 1px 70%, 10px 1px
    }
}

@keyframes increasefiveten {
    50% {
        background-size: 100% 1px, 1px 0, 10px 1px
    }

    to {
        background-size: 100% 1px, 1px 70%, 10px 1px
    }
}

@-webkit-keyframes increaseeight {
    to {
        width: 140px
    }
}

@keyframes increaseeight {
    to {
        width: 140px
    }
}

@-webkit-keyframes increasenine {
    to {
        height: -145px
    }
}

@keyframes increasenine {
    to {
        height: -145px
    }
}

#anim_ .lineseven {
    height: 0;
    width: 1px;
    margin-top: 10px;
    margin-left: 20px;
    border-bottom: 1px solid #000;
    animation: increaseseven 2s;
    animation-delay: 0s;
    -webkit-animation: increaseseven 2s;
    -webkit-animation-delay: 0s;
    -o-animation: increaseseven 2s;
    -o-animation-delay: 0s;
    position: absolute;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

@-webkit-keyframes increaseseven {
    to {
        width: 130px
    }
}

@keyframes increaseseven {
    to {
        width: 130px
    }
}

#anim_ .point {
    position: relative;
    height: 20px;
    width: 20px;
    background: #ee3325;
    z-index: 999;
    border-radius: 100%;
    box-shadow: 0 0 10px #ee3325
}

#anim_ .point:after,
#anim_ .point:before {
    border: 1px solid #ee3325;
    box-shadow: 0 0 2px #ee3325;
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    height: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 100%;
    transform-origin: center center;
    opacity: 0;
    box-sizing: border-box
}

#anim_ .point:hover:before {
    -webkit-animation: pulse 1.5s linear .1s infinite;
    animation: pulse 1.5s linear .1s infinite
}

#anim_ .point:hover:after {
    -webkit-animation: pulse2 1.5s linear infinite;
    animation: pulse2 1.5s linear infinite
}

@-webkit-keyframes pulse2 {
    0% {
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        transform: scale(0);
        opacity: 0
    }

    40% {
        transform: scale(1.5);
        opacity: .2
    }

    to {
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        transform: scale(1.8);
        opacity: 0
    }
}

@keyframes pulse2 {
    0% {
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        transform: scale(0);
        opacity: 0
    }

    40% {
        transform: scale(1.5);
        opacity: .2
    }

    to {
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        transform: scale(1.8);
        opacity: 0
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        transform: scale(1.5)
    }

    40% {
        transform: scale(2);
        opacity: .2
    }

    to {
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        transform: scale(2.3);
        opacity: 0
    }
}

@keyframes pulse {
    0% {
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        transform: scale(1.5)
    }

    40% {
        transform: scale(2);
        opacity: .2
    }

    to {
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        transform: scale(2.3);
        opacity: 0
    }
}

@-webkit-keyframes opacity {
    to {
        opacity: 1
    }
}

@keyframes opacity {
    to {
        opacity: 1
    }
}

#anim_ .firs_info {
    left: -180px;
    z-index: 99
}

#anim_ .firs_info,
#anim_ .second_info {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -200px;
    opacity: 0;
}

#anim_ .second_info {
    left: 100px
}

#anim_ .three_info {
    bottom: -310px;
    right: -178px;
    z-index: 100;
}

#anim_ .four_info,
#anim_ .three_info {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    opacity: 0
}

#anim_ .four_info {
    bottom: -100px;
    right: -250px
}

#anim_ .five_info {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    position: absolute;
    bottom: 0px;
    right: -195px;
    opacity: 0;
}

#anim_ .five_info .textowo {
    width: 100%
}

#anim_ .six_info {
    right: -245px
}

#anim_ .seven_info,
#anim_ .six_info {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -140px;
    opacity: 0;
}

#anim_ .seven_info {
    left: 230px
}

#anim_ .eight_info {
    top: -130px;
    left: -230px
}

#anim_ .eight_info,
#anim_ .nine_info {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    opacity: 0
}

#anim_ .nine_info {
    top: 10px;
    left: -300px;
}

#anim_ .ten_info {
    top: 160px;
    left: -290px;
}

#anim_ .eleven_info,
#anim_ .ten_info {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    opacity: 0;
    z-index: 100
}

#anim_ .eleven_info {
    top: 246px;
    left: -300px;
}

#anim_ .textowo {
    text-align: right;
    padding: 20px;
    font-size: 14px;
    min-width: 200px;
}

#anim_ .close_one {
    top: 0
}

#anim_ .close_one,
#anim_ .close_two {
    font-size: 20px;
    position: absolute;
    right: 0;
    cursor: pointer
}

#anim_ .close_two {
    top: -10px;
    padding: 10px
}

#anim_ .opacityone {
    animation: opacity 1s;
    animation-delay: 1s;
    -webkit-animation: opacity 1s;
    -webkit-animation-delay: 1s;
    -o-animation: opacity 1s;
    -o-animation-delay: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

#anim_ .display_none {
    opacity: 0;
    z-index: -1
}

@media screen and (max-width:1600px) {
    #anim_ {
        height: 60vw
    }
}

@media screen and (max-width:1440px) {
    #anim_ {
        height: 60vw
    }

    #anim_ .all_elem {
        transform: scale(.8)
    }

    #anim_ .all_elem {
        width: 100%;
    }
}

@media screen and (max-width:1199px) {
    #anim_ {
        height: 100%
    }

    #anim_ .textowo {
        text-align: center !important
    }

    #anim_ .textowo h3 {
        margin-bottom: 20px !important
    }

    #anim_ .md-order1 {
        order: 1
    }

    #anim_ .md-order2 {
        order: 2
    }

    #anim_ #anim_ {
        min-height: 100%
    }

    #anim_ .bullets {
        z-index: 0
    }

    #anim_ .five_f1 {
        visibility: visible !important
    }

    #anim_ .five_f2 {
        display: none
    }

    #anim_ .five_info .close_two {
        top: 0
    }

    #anim_ .five_info .textowo {
        width: auto
    }

    #anim_ .five_info img {
        margin: auto
    }

    #anim_ .lineeight,
    #anim_ .lineeightten,
    #anim_ .linefive,
    #anim_ .linefiveten,
    #anim_ .linefour,
    #anim_ .linenine,
    #anim_ .linenineten,
    #anim_ .lineone,
    #anim_ .lineseven,
    #anim_ .lineseventen,
    #anim_ .linesix,
    #anim_ .linesixten,
    #anim_ .lineten,
    #anim_ .linethree,
    #anim_ .linetwo {
        display: none
    }

    #anim_ .eight_info,
    #anim_ .eleven_info,
    #anim_ .firs_info,
    #anim_ .five_info,
    #anim_ .four_info,
    #anim_ .nine_info,
    #anim_ .second_info,
    #anim_ .seven_info,
    #anim_ .six_info,
    #anim_ .ten_info,
    #anim_ .three_info {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
        display: flex;
        flex-direction: column;
        min-width: 325px;
        text-align: center;
        min-height: 380px
    }

    #anim_ .eight_info img,
    #anim_ .eleven_info img,
    #anim_ .firs_info img,
    #anim_ .five_info img,
    #anim_ .four_info img,
    #anim_ .nine_info img,
    #anim_ .second_info img,
    #anim_ .seven_info img,
    #anim_ .six_info img,
    #anim_ .ten_info img,
    #anim_ .three_info img {
        width: 100px
    }

    #anim_ .close_one,
    #anim_ .close_two {
        display: block;
        padding: 20px;
        top: -10px
    }

    #anim_ .opacityone img {
        margin-top: 20px
    }

    #anim_ #two {
        bottom: 14%;
        left: 13%
    }

    #anim_ .opacityone {
        box-shadow: 4px 6px 20px rgba(0, 0, 0, .3);
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
        z-index: 800 !important
    }

    #anim_ .information {
        position: absolute
    }
}